* {
  text-align: center;
  font-family: helvetica;
}

#banner {
  background-image: url(".././images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.bannerlinks a {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.detail {
  font-size: 14px;
}

#midbanner {
  background-image: url(".././images/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color: white;
}

#footer {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}

#footer a {
  color: white;
}
